params {
    // Required inputs
    input    = null         // Path to samplesheet.csv for multi-sample mode
    sra_id   = "DRR030302"
    reads    = null
    ref      = null
    outdir   = "results"
    
    // Path for local conda 
    conda_env_path = null 
}

profiles {
    local {
        conda.enabled = true
        process.conda = params.conda_env_path
        process.cpus = 4
        process.memory = '4 GB'
    }
    cluster {
        conda.enabled = true
        process.conda = "${projectDir}/environment.yml"
        process.cpus = 4
        process.memory = '4 GB'
    }
    container {
        docker.enabled = true
        process.container = 'hw4-pipeline:latest'
        process.cpus = 4
        process.memory = '4 GB'
    }
}