params {
    // Required inputs
    sra_id   = "DRR030302"
    reads    = null
    ref      = null
    outdir   = "results"
    
    // Path for local conda 
    conda_env_path = null 
}

profiles {
    //Local execution
    local {
        conda.enabled = true
        process.conda = params.conda_env_path
        process.cpus = 2
        process.memory = '4 GB'
    }

    // Cluster execution
    cluster {
        conda.enabled = true
        process.conda = "${projectDir}/environment.yml"
        process.cpus = 4
        process.memory = '8 GB'
    }

    // Container execution 
    container {
        docker.enabled = true
        process.container = 'artemiskrav/bio-pipeline:latest'
        process.cpus = 4
        process.memory = '8 GB'
    }
}